@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

body {
	background: $color-neutral-ash-light;
	color: $color-neutral-primary;
	font-size: 100%;
	font-family: "Source Sans Pro", HelveticaNeue, Helvetica, Arial, Calibri, sans-serif;
	-webkit-text-size-adjust: 100%;
	min-height: 100vh;
	&.body-promo{
		background:#f2f2f2;
	}
}
