.tjr-list {
  font-size: 0.875rem;
	margin-left: -1rem;
	padding-left: 2rem;
	&--ordered {
    @extend .tjr-list;
	}
	&--unordered {
    @extend .tjr-list;
    list-style-type: circle;
	}
	.tjr-list__item {
		padding-left: 1rem;
    margin-bottom: 1rem;
	}
}
.tjr-list > .tjr-list__item > .tjr-list {
  margin-top: .5rem;
}

.tjr-list--lower-alpha {
	list-style-type: lower-alpha;
}
.tjr-list--decimal {
	list-style-type: decimal;
}
