.tjr-pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $color-neutral-secondary-light;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}
