$('#dialog').modal('toggle');
$('#products').append('<%= j render (@product) %>')
$('#flash').html('<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong>Succesfully</strong> added project!</div>')
