<h1> Products List </h1>

<div id="flash"></div>

<%= link_to 'New Article', new_product_path, remote:true, class: "tjr-btn tjr-btn--primary" %>

<table id="product_table">
<thead>
  <tr>
    <th> Product Name </th>
    <th> Status </th>
    <th colspan="2"> Action </th>
  </tr>
</thead>
<tbody id="products">
    <%= render @products %>
</tbody>

</table>

<%= render 'dialog' %>
