// Add the dialog title
$('#dialog h5').html("<span class='.tjr-glyph .tjr-glyph--edit'></span> Add New Product");

// Render the new form
$('.modal-body').html('<%= j render("form") %>');

// Show the dynamic dialog
$('#dialog').modal("show");

// Set focus to the first element
$('#dialog').on('shown.bs.modal', function () {
	  $('.first_input').focus()
  })
